.container img {
    border: 1px solid black;
    vertical-align: middle;
}
.mySlides img {
    margin-bottom: 20px;
}

.img__projet{
    border: 2px solid black;
}
.description__projet{

    margin-top: 100px;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: blue;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}



.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
    margin-bottom: 20px;
    margin-right: 20px;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}


.projets__filtre{
    padding: 20px 20px 20px 20px;
    border: 1px solid black;
}
.projets__filtre button{
    background-color: white;
    border: 1px solid black;
    padding: 10px 10px 10px 10px;
}
.projets__filtre button:hover{
    background-color: #0D242B;
    color: white;
}
.projets__filtre button:active{
    background-color: red;
    color: white;
}
.liste__projets{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.liste__axes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.carte__projet:hover{
    transform: scale(1.2);
}
.projet__annee{
    width: 40%;
    background-color: black;
    color:white;
    text-align: center;
    border-radius:20px ;
    margin-top: 5px;
}
.puces__projets img{
    width: 300px;
    height: 160px;
    border:2px solid black;
    margin-right: 6px;
}
.puces__projets{
    text-align: left;
    height: auto;
    margin-top: 1%;
    margin-bottom: 20px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.titre__projet{
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
}
.finissant__projet{
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}

.lien__carte{
    text-decoration: none;
    color: black;
}
.projets__pagination{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}